

html{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}



[class*="col-"]{

}
.inline{
  display: inline-block;
}
.container{
  height:100%;
}

.top-head .container [class*="col-"]{
  height: 80px;
}

.ver-pos{
  line-height:80px;
  vertical-align: middle
}

.logo{
  width:100px;
}
.f-right{
float: right;
}

nav ul{
  text-align: right;
}
nav ul li:not( :last-child) a{
  margin-right:15px;

}

.nav-left li {
  display: inline-block;
}

.nav-left li a{
  text-decoration: none;
  color: #000;
  line-height:80px;
  vertical-align: middle;
}



.nav-right li{
  display:inline-block;
  position: relative;
}

.nav-right li a {
  text-decoration:none;
  color: #000;
  line-height:80px;
  vertical-align: middle
}

 .nav-right li:not( :last-child) a{
    border-right: 1px solid black;
     padding-right:10px;
  }

.frame{
  background-image: url(../img/header.jpg);
  width:100vw;
  height: 70vh;
  background-size: cover;
  position: relative;
}

.bottom-head{
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50% , -50%);

}

.pad{
  padding:15px;
}

.bottom-head  img {
   width:150px;
   height:50px;
}
.product{
  width: 100%;
  height:70vh;
}
.learn{
  text-align: center;
  margin-top:50px;
  background-color: #fafafa;
}

.learn > .pad > a {
  text-decoration: none;
  font-weight:600;
  color: #2082cf;
}

.learn > .pad > h2 {
  font-size:2rem;
}

.learn > img{
  width:230px;
  height:250px;
}


.section-2{
  background-image: url(../img/old-helbiz.jpg);
  width: 100%;
  height: 80vh;
  background-size: contain;
  background-repeat: no-repeat;
}
.iphone > img{
  width: 200px;
  height: 400px;
  position: relative;
  top:200px;
}

.text-iphone{
  margin-top:400px;
}

.text-iphone > h2{
margin-left:100px;
}
